<!DOCTYPE html>
<html>
  <head>
    <title>Build a Blog!</title>
  </head>
  <body>
    {% block content %}{% endblock %}
        <form action = "newpost.html" method = "link">
            <input type = "button" value = "Create a new blog" name = "Create a new blog"/>
        </form>
        <form action = "history.html" method = "link">
            <input type = "button" value = "View older blogs" action = "/blog" name = "View older blogs"/>
        </form>
  {{error}}
  {{message}}
  </body>
</html>
