<!DOCTYPE html>
<html>
  <head>
    <title>Build a Blog!</title>
  </head>
  <body>
    {% block content %}{% endblock %}

    <!-- <form action = "/actions"
         <form action = "/newpost" method = "post"> -->
            <!-- <input type = "button" value = "Create a new blog" name = "link"/> -->
        <!-- </form>
        <form action = "/blog" method = "post"> -->
            <!-- <input type = "button" value = "View older blogs" name = "link"/> -->
        <!-- </form> -->
  {{error}}
  <!-- {{message}} -->
  </body>
</html>
